/* components/layout/footer.module.css */

.container {
    background-color: rgb(57, 57, 57);
    text-align: center;
    font-size: 1.5rem;
}

.dark .container {
    background-color: rgb(57, 57, 57);
}

.light .container {
    background-color: rgb(255, 255, 255);
    color: rgb(50, 50, 50)
}

.purple .container {
    background-color: rgb(200, 0, 200);
}